# Python virtual environment
.venv/
venv/
env/
ENV/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Python cache
__pycache__/
*.py[cod]

# Pytest cache
.pytest_cache/

#ignore trained models
*.pth

#ignore any temporary results or hidden OS files
.DS_Store
Thumbs.db